doctype
html
  head
    meta(charset='utf-8')
    link(href='./_css/main.css' rel='stylesheet')
    title Buro 247 - 403 page
  body.technical
    div.tech_page
      h1 403
      h2 Данная страница не доступна для просмотра
      p Если страница с таким адресом точно должна существовать, то, пожалуйста, <a href='#'>обратитесь к администратору</a> сервера.
      a(href='#').tech_logo