doctype
html
  head
    meta(charset='utf-8')
    link(href='./_css/main.css' rel='stylesheet')
    title Buro 247 - 500 page
  body.technical
    div.tech_page
      h1 500
      h2 Ошибка сервера (5XX)
      p Сайт обновляется. Если сайт в скором времени не заработает,  <a href='#'>обратитесь к разработчикам</a>
      a(href='#').tech_logo